.burger {
  display: flex;
  margin: 20px 0;
  padding: 150px;
  background-color: black;

  &__svg {
    margin: auto;
  }

  &__rect {
    transition: all 0.5s;
  }

  &__svg:hover &__rect {
    y: 50;
    transition: all 0.5s;

    &--top {
      transform-origin: 70%;
      transform: rotate(-45deg);
    }

    &--middle {
      transform-origin: 70%;
      transform: rotate(-45deg);
    }

    &--bottom {
      transform-origin: 30%;
      transform: rotate(45deg);
    }
  }
}