.button {
  display: flex;
  margin: 20px 0;
  padding: 100px;

  &__svg {
    margin: auto;
    border-radius: 5px;

    &:hover .hover_rect {
      width: 335px;
      x: 0;
      fill-opacity: 1;
    }

    &:hover .text {
      fill: white;
    }
  }
}

.white {
  background-color: #f6eafe;
}

.black {
  background-color: #29282e;
}

.text {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  transition: all 1s;
}

.pink {
  fill: #d81466;
}

.violet {
  fill: #650e93;
}

.hover_rect {
  fill-opacity: 0.5;
  transition: all 1s;
}