// FOR MEDIA QUERIES
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 769px;
// Small tablets (portrait view)
$screen-md-min: 961px;
// Tablets and small desktops
$screen-lg-min: 1201px;
// Large tablets and desktops
$screen-xl-min: 1800px;